.debug {
    * {
        border: 1px dashed;
    }

    header {
        background-color: red;
        height: 3rem;
        width: 100% auto;

        .h-card {
            background-color: blue;
            height: 2rem;
            width: 20%;
            margin-top: 0.5rem;
        }

    }

    /*end debug header*/

    /*start debug main*/

    main {

        .jumbodrome {
            justify-content: center;
            background-color: blueviolet;
            height: 35rem;
            padding-top: 3rem;

            .container {
                background-color: green;

                section {
                    background-color: yellow;
                    height: 6rem;
                }

                .t-card {
                    height: 325px;
                    width: 40%;
                    background-color: blue;
                }

                .img-card {
                    background-color: brown;
                    height: 375px;
                    width: 60%;
                }
            }


        }

        .container {
            background-color: cadetblue;
            

            .w-70 {
                background-color: aqua;


                section {
                    background-color: yellowgreen;
                    height: 6rem;
                }

                .column {
                    background-color: bisque;
                    height: 400px;
                    width: auto;
                    padding-bottom: 2rem;

                    .cart {
                        background-color: azure;
                    }
                }



                .container {

                    height: 5.5rem;
                    padding-bottom: 15rem;
                    background-color: rgb(20, 123, 220);

                    .playsolder{
                    
                        height: 200px;
                        width: 55%;
                        background-color: chocolate; 

                        
                    }
                    .join{
                        height: 200px;
                        width: 45%;
                        margin: auto;
                        text-align: left;
                        
                    }

                    
                    

                    .tb-head {
                        height: 2rem;
                        background-color: rgb(148, 160, 95);
                        border-color: black;
                        border-radius: 1px;
                    }

                    .tb-body {

                        section {
                            background-color: brown;

                            height: 9rem;
                        }

                        .button {
                            background-color: blueviolet;
                            height: 9rem;
                            width: 20%;

                            button {
                                background-color: aqua;
                            }
                        }
                    }
                }

                operation{
                    background-color: rgb(180, 125, 86);
                }

                .team{
                    background-color: rgb(101, 105, 33);
                    height: 12rem;
                    width: 100%;
                    .client{
                        width: 60%;
                        height: 150px;
                        background-color: brown;
                    }
                }

            }





        }
    }
    /*end debug main*/

    footer{
        background-color: chartreuse;
        height: auto;
        .container{
            background-color: yellow;
            height: auto;
            .column {
                background-color: bisque;
                height: 400px;
                width: auto;

                .cart {
                    background-color: azure;
                }
            }
            .italy{
                background-color: blue;
                width: 5rem;
                height: 5rem;
                margin-top: 1px;
            }
        }
    }

}








/* end debug main*/


/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.w-80 {
    width: 80%;
    margin: auto;
}

.w-70 {
    width: 70%;
    margin: auto;
}




header {
    justify-content: space-between;

    .h-card {}
}

main {
    flex-direction: column;
    justify-content: center;


}

.column {
    justify-content: space-between;


}

.cart {
    width: calc(100% / 3 - 1rem);


}

.tb-body {
    justify-content: space-between;

    section {
        width: 70%;
    }

}

.button button {
    padding: 0.5rem;
}